PyGithub
beautifulsoup4
bs4
dnspython
gitpython
heroku3
lxml
oauth2client
pySmartDL
pybase64>=0.4.0
pyfiglet
pylast
pymongo
python-barcode
python-dotenv
python-magic
regex
requests>=2.18.4
speedtest-cli>=2.0.2
pyTelegramBotAPI
